<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
        
<h1>List of Chats</h1>
<a routerLink="/add-chat" class="btn btn-success">Add Chat</a>
</div>
<table  class="table  table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th>Recipient</th>
      <th>Sender</th>
      <th>Code Promo</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chat of chats">
      <td>{{ chat.id }}</td>
      <td>{{ chat.message }}</td>
      <td>{{ chat.recipient }}</td>
      <td>{{ chat.sender }}</td>
      <td>{{ chat.codePromo.code }}</td>
      <td>{{chat.sentAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
      <td>
        <button class="btn btn-primary" (click)="updateChat(chat.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteChat(chat.id)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>

</section>