<div class="container">
    <div class="card">
      <div class="card-header">
        <h4>Add Command Line</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="addCommandLineForm" (ngSubmit)="onSubmit()">
       
       
          <div class="form-group">
            <label for="product">Product</label>
            <select class="form-control" formControlName="product">
              <option value="">--Select--</option>
              <option *ngFor="let product of productList" [value]="product.idProduct">{{product.name}}</option>
            </select>
            <!-- <div class="alert alert-danger" *ngIf="addCommandLineForm.get('product').invalid && (addCommandLineForm.get('product').dirty || addCommandLineForm.get('product').touched)">
              <div *ngIf="product.errors?.['required']">
                Product is required.
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" formControlName="quantity">
            <!-- <div class="alert alert-danger" *ngIf="addCommandLineForm.get('quantity').invalid && (addCommandLineForm.get('quantity').dirty || addCommandLineForm.get('quantity').touched)">
              <div *ngIf="quantity.errors?.['required']">
                Quantity is required.
              </div>
              <div *ngIf="quantity.errors?.['pattern']">
                Quantity must be a number.
              </div>
            </div> -->
          </div>
          <button type="submit" class="btn btn-primary" >Add</button>
      
      </div>
    </form>
    </div>
  </div>
  