<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Product List</h1><br>
              <button class="btn btn-primary float-right" routerLink="/add-category">Add Product</button>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <!-- <td>{{category.products}}</td> -->
         <td>
          <button class="btn btn-primary" (click)="UpdateCategory(category.idCategory)">Edit</button>
            <button class="btn btn-danger" (click)="deleteCategory(category.idCategory)">Delete</button>
          </td> 
        </tr>
      </tbody>
  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>