   <!-- Sidebar -->
   <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
  

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
              <a routerLink="list-user" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  User
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="add-user" class="nav-link">
                    <i class="fas fa-plus nav-icon"></i>
                    <p>Client</p>
                  </a>
                </li>
              </ul>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="add-user" class="nav-link">
                    <i class="fas fa-lock nav-icon"></i>
                    <p>Admin</p>
                  </a>
                </li>
              </ul>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="add-user" class="nav-link">
                    <i class="fas fa-parachute-box nav-icon"></i>
                    <p>Supplier</p>
                  </a>
                </li>
              </ul>
            </li>
            
            
        <li class="nav-item">
          
          <a routerLink="Product" class="nav-link" >
            <i class="nav-icon fas fa-cube"></i>
            <p>
              Products
          
            </p>
          </a>
        
        </li>
        <li class="nav-item">
          <a routerLink="category-list"class="nav-link ">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Category
        
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-shops" class="nav-link">
            <i class="nav-icon fas fa-cube"></i>
            <p>
              Shops
          
            </p>
          </a>
        
        </li>
            <li class="nav-item">
          <a routerLink="list-blog" class="nav-link">
            <i class="nav-icon fas fa-blog"></i>
            <p>
              Blog
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-carts" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              Carts
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-comment" class="nav-link">
            <i class="nav-icon fas fa-comment"></i>
            <p>
              Comment
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-forum" class="nav-link">
            <i class="nav-icon fas fa-paper-plane"></i>
            <p>
              Forum
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-command-line" class="nav-link">
            <i class="nav-icon fas fa-city"></i>
            <p>
              Commend Line
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-delivery" class="nav-link">
            <i class="nav-icon fas fa-truck"></i>
            <p>
              Delivery
            </p>
          </a>
        </li>
    
        <li class="nav-item">
          <a routerLink="list-promocode" class="nav-link">
            <i class="nav-icon fas fa-gift"></i>
            <p>
              PromoCode
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-chat" class="nav-link">
            <i class="nav-icon fas fa-comments"></i>
            <p>
              Chat
            </p>
          </a>
        </li>
      
        <li class="nav-item">
          <a routerLink="list-purchaseOrder" class="nav-link">
            <i class="nav-icon fas fa-box-open"></i>
            <p>
              Order
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="list-request" class="nav-link">
            <i class="nav-icon fas fa-arrow-up
            "></i>
            <p>
              Request
            </p>
          </a>
        </li>
     
        
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->