
     
          <div class="card-header">
            <h4 class="card-title">Edit Comment</h4>
          </div>
          <div class="card-body">
            <form  #f="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content" name="content" [(ngModel)]="comments.content" required>
              </div>
              <button type="submit" class="btn btn-primary mr-2">Update</button>
              <button class="btn btn-danger" (click)="gotoList()">Cancel</button>
            </form>
          </div>
   
