<div class="container">
    <h2>List of Orders</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Order Date</th>
          <th>Customer</th>
          <th>Total Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.reference }}</td>
          <!-- <td>{{ order.orderDate | date:'shortDate' }}</td> -->
          <td>{{ order.discountCode }}</td>
          <!-- <td>{{ order.totalAmount | currency:'USD':'symbol':'1.2-2' }}</td> -->
          <td>{{ order.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  