
  <div class="container">
    <h2>Edit Categories</h2>
    <form (ngSubmit)="updateCategory()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name='name' [(ngModel)]="category.name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" name='description' [(ngModel)]="category.description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
  </div>
  